params {
    help = false

    // Pipeline Options
    run = false
    startFrom = "fastq"
    rawPath = "Raw/Illumina"
    outPath = "Processed/RAPiD"
    bamPath = "Processed/RAPiD/bams"
    vcfPath = "VCF"
    trimAdapter = false
    singleEnd = false
    noMarkDup = false
    wasp = false
    continueWithoutVcf = false

    // Default Parameters
    qc = false
    fastqc = false
    bigwig = false
    leafcutter = false
    featureCounts = false
    enhancer = false
    rsem = false
    kallisto = false
    salmon = false
    txrevise = false
    pathogen = false
    target = false
    bait = false
    globalVCF = false
    bamCoverage = false
    verifyBamID = false
    QTLtools_mbv = false

    dryRun = false

    trimmomatic {
        quality_encoding = ""
        seed_mismatches = 2
        palindrome_clip_threshold = 30
        min_adapter_length = 8
        keep_both_reads = "TRUE"
        simple_clip_threshold = 10
        leading = 3
        trailing = 3
        slidingwindow_size = 4
        slidingwindow_quality = 15
        minlen = 36
    }

    star {
        twopassMode = "None"
        twopass1readsN = -1
        SAMattributes = "NH HI AS NM MD"
        sjdbScore = 1
        outFilterMismatchNoverReadLmax = 0.04
        seq_platform = "ILLUMINA"
        seq_center = "MSSM"
        seq_description = "rnaseq"
    }

    kallisto_setting {
        single_end_fragment_length = 180
        single_end_sd = 20
        bootstrap_samples = 100
    }

    leafcutter_setting {
        quality_filter_threshold = 10
    }
}

profiles
{
    // Configurations
    local {
        //Local Configuration for MSSM Chimera cluster
        includeConfig 'config/local.config'
        includeConfig 'config/chimera.config'
    }
    chimera {
        //LSF Configuration for MSSM Minerva cluster
        includeConfig 'config/lsf.config'
        includeConfig 'config/chimera.config'
    }
    liteQC {
        //liteQC/LSF Configuration for MSSM Minerva cluster
        includeConfig 'config/lsf.config'
        includeConfig 'config/chimera.config'
        includeConfig 'config/liteQC.config'
    }
    singularity {
        //TODO: create a Singularity container
        singularity.enabled = true
    }
}

trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'hash,name,status,exit,submit,start,complete,realtime,peak_rss'
}

report {
    enabled = true
    file = 'report.html'
}

cleanup = true

manifest {
    name = 'RAPiD-nf'
    description = 'RAPiD-nf, MSSM RAPiD RNASeq pipeline in Nextflow'
    author = 'Ying-Chih Wang and Hardik Shah'
    version = '19.10.2'
    mainScript = 'RAPiD.nf'
    nextflowVersion = '>=18.10.1'
}
